/* .fab-wrapper{
  background-color: brown;
  width: 100%;
  height: 100vh;
} */

.fab-container {
  width: 256px;
  height: 380px;
  position: fixed;
  top: 612px;
  left: 1152px;
  bottom: 32px;
  right: 32px;
  gap: 32px;
  opacity: 0px;
}

.fab-container:hover {
  cursor: pointer;
}

.fab-button {
  color: black;
  background: var(--Main-White, rgba(248, 248, 248, 1));
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 60px;
  padding: 15px 10px 11px 18px;
  gap: 8px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 30px;
  opacity: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fab-button-cancel {
  color: black;
  background: var(--Main-White, rgba(248, 248, 248, 1));
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  width: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 60px;
  padding: 12px;
  gap: 8px;
  border-radius: 30px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fabNav-section-box {
  position: fixed;
  top: 612px;
  left: 1152px;
  width: 256px;
}

.fabNav-section-box-ModalActive{
  display: none;
}

.FAB-Navigation-menu {
  position: fixed;
  bottom: 32px;
  left: 1020px;
}
