.fab-container {
  width: 256px;
  height: 380px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  gap: 2rem;
  opacity: 0px;
}

.fab-container:hover {
  cursor: pointer;
}

.fab-button {
  color: black;
  background: var(--Main-White, rgba(248, 248, 248, 1));
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  padding: 0.5rem 0.6rem 0.5rem 0.8rem;
  gap: 8px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 30px;
  opacity: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fab-button-cancel {
  color: black;
  background: var(--Main-White, rgba(248, 248, 248, 1));
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  gap: 8px;
  border-radius: 30px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fabNav-section-box {
  position: fixed;
  bottom: 5.2rem;
  right: 2rem;
}

.fabNav-section-box-ModalActive {
  display: none;
}

.FAB-Navigation-menu {
  position: fixed;
  bottom: 2rem;
  right: 5.5rem;
}
