.second-container {
  width: 60%;
  padding: 1.5rem;
  margin: auto;
  gap: 1rem;
  border-radius: 6px;
  opacity: 0px;
  background: rgba(222, 231, 255, 1);
  color: black;
  border: 1px solid rgba(151, 149, 149, 1);
}

.s-top {
  width: 100%;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
}

.s-top-left {
  width: 100%;
  gap: 1rem;
  opacity: 0px;
  display: flex;
  justify-content: flex-start;
}

.left-user {
  gap: 5px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: left;
}

.s-top-right {
  width: 100%;
  padding: 0.8rem;
  opacity: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: left;
}

.s-ans-span {
  width: 100%;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: left;
  margin-top: 1.3rem;
  text-wrap: wrap;
}

.ans-innerSpan {
  color: rgb(108, 108, 108);
}

.strong-span {
  color: black;
}

.second-bottom {
  width: 100%;
  gap: 1rem;
  opacity: 0px;
  display: flex;
  justify-content: flex-start;
  margin-top: 1.3rem;
}

.bottom-left {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: left;
  width: 15%;
  gap: 0.5rem;
  opacity: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bottom-right {
  width: 100%;
  gap: 10px;
  opacity: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
}

input {
  width: 478px;
  height: 34px;
  padding: 0.6rem;
  gap: 0px;
  border-radius: 6px;
  opacity: 0px;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(15, 15, 15, 1);
}

.bottom-button {
  padding: 0.5rem 1rem;
  gap: 0.8rem;
  border-radius: 6px;
  opacity: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: white;
  color: rgb(108, 108, 108);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1rem;
  text-align: left;
}
