.logged-issue {
  background-color: white;
  color: black;
  width: 430px;
  height: 608px;
  top: 384px;
  left: 978px;
  gap: 12px;
  opacity: 0px;
  border-radius: 4px;
}

.logged-issue-container {
  width: 430px;
  height: 536px;
  padding: 24px 16px 24px 16px;
  gap: 32px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}

.li-head {
  width: 398px;
  height: 72px;
  gap: 24px;
  opacity: 0px;
}

.li-head-span {
  width: 326px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  border-bottom: 0.5px solid gray;
  margin: auto;
  padding-bottom: 4rem;
}
