.ans-container {
  background: transparent;
  color: white;
  width: 60%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-left {
  width: 100%;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: left;
}

.a-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 0.7rem;
  opacity: 0px;
}

.sorting-span {
  gap: 0px;
  opacity: 0px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}

.mid-button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  opacity: 0px;
  border: none;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
